<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><link rel="stylesheet" href="My%20Website%20-%20About_files/app.css">

<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
<link href="My%20Website%20-%20About_files/css2.css" rel="stylesheet">
<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
<div class="container">
    <div class="containername">
        <h1 style="font-size: 64px;  margin-bottom: 0;">Raheem </h1>
        <h1 style="font-size: 96px; margin-top: 0; font-weight: bold;margin-bottom: 25px;">DOMAN</h1>
        <hr class="dashed-line">
        <img src="My%20Website%20-%20About_files/Asia-Sitting.gif" class="sittingArt" alt="IconImage">

    </div>
    <div class="icon-container">
        <img src="My%20Website%20-%20About_files/chibi%20as23ia.png" alt="IconImage" class="icon">
    </div>
    
    
</div>
<div class="mainImageContainer">
    <h2> ABOUT ME</h2><hr class="dashed-line" style="position: absolute;left:990px; top: 200px; z-index: 50; width: 268px">
    <p>My
        name is Raheem Doman, I major in Software Engineering. My favorite 
        YouTube channel is Tomorrow’s Teaching. Jemoi Adia Elaine Johnson told 
        me to type this.</p><div class="rectangle"></div>
    <img src="My%20Website%20-%20About_files/al.png" alt="Al:D" class="mainArt">
    
</div>

    



</body></html>